# Shallow copy and Deep copy

In [ ]:
a = 10
b = a
id(a), id(b)

In [ ]:
b = b+1
a,b
id(a), id(b)

In [ ]:
a = [1,2,3,4,5]
b = a
a, b

In [ ]:
b[0] = 100
a,b

In [ ]:
id(a),id(b)

In [ ]:
a = [1,2,3,4,5]
b = a.copy()
a, b

In [ ]:
b[0] = 100
a,b

In [ ]:
id(a), id(b)

# Conditional Branching
- if elif else

## if-elif-else

**Syntax:**
```
if condition:
  ......
  ......
elif condition:
  .......
  ......
else:
  .....
  .....

```
*elif and else are optional*

In [5]:
# WAP to print if a given number is even or odd

num = int(input("Enter the number: "))
if num == 0:
    print("Enter nonzero number")
elif num%2 == 0:
    print(f"{num} is even")
else:
    print(f"{num} is odd")

Enter the number:  0

Enter nonzero number

In [9]:
# Write a Python program to convert temperatures to and from celsius, fahrenheit and vice versa.
# [ Formula : c/5 = (f-32)/9 [ where c = temperature in celsius and f = temperature in fahrenheit ]

templist = input("Enter the temperature ex. 15 C or 30 F:").split()
temp = float(templist[0])
tempunit = templist[-1]
if tempunit.lower() == 'c':
    temp_in_faran = round(((9/5)*temp) + 32, 2)
    print(f"{temp} celcius = {temp_in_faran} faranhiet")
elif tempunit.lower() == 'f':
    temp_in_celcius = round((5/9) * (temp -32),2)
    print(f"{temp} faranhiet = {temp_in_celcius} celcius")
else:
    print("Enter valid temperature")

Enter the temperature ex. 15 C or 30 F: 15 f

15.0 faranhiet = -9.44 celcius

# Looping
- while
- for

## while
**Syntax**
```
while cond:
  .....
  .....

used when you want to do a process repeatatively until a goal is achieved
```

## for
**Syntax**
```
for par in iterable:
  .....
  .....

used when you want to do a process repeatatively for a specific number of times
```

In [13]:
list(range(5))

[0, 1, 2, 3, 4]

In [16]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [17]:
list(range(3,10, 2))

[3, 5, 7, 9]

In [18]:
list(range(3,10,-2))

[]

In [19]:
list(range(10,3,-2))

[10, 8, 6, 4]

In [20]:
list(range(10,3))

[]

In [21]:
dir(range)

['__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index',
 'start',
 'step',
 'stop']

In [28]:
for i in range(5):
    print(i)

0
1
2
3
4

In [24]:
print("hello")
print("Hi",end = " ")
print("Bye")

hello
Hi Bye

In [26]:
print(10,20,30, sep = ":")

10:20:30

In [29]:
courses = ['C','Python','Java']
for course in courses:
    print(course)

C
Python
Java

In [30]:
d = {'a': 1,'b':2}
for val in d.items():
    print(val)

('a', 1)
('b', 2)

In [31]:
d = {'a': 1,'b':2}
for val in d.keys():
    print(val)

a
b

In [32]:
d = {'a': 1,'b':2}
for val in d.values():
    print(val)

1
2

In [33]:
d = {'a': 1,'b':2}
for val in d:
    print(val)

a
b

In [34]:
for i in range(5):
    print(i)
else:
    print("Done")

0
1
2
3
4
Done

In [35]:
for i in range(5):
    print(i)
    if i ==3:
        break
else:
    print("Done")

0
1
2
3

In [36]:
for i in range(5):
    if i ==3:
        continue
    print(i)
else:
    print("Done")

0
1
2
4
Done

In [37]:
i = 0
while i<5:
    print(i)
    i += 1
else:
    print("Done")

0
1
2
3
4
Done

In [38]:
i = 0
while i<5:
    print(i)
    if i == 3:
        break
    i += 1
else:
    print("Done")

0
1
2
3

## else with for/while:

**Syntax**
```
for expression:
  .....
  .....
  .....
else:
  .....

```

If loops runs successfully through all elements without encountering break/error then it will go in else

## break

Throws you out of the nearest loop

In [ ]:
students = ['John','Rose','Josh','Mary','Steve']
for student in students:
  if student != 'Josh':
    print(f"Hi {student}")
print("Meeting over")

In [39]:
students = ['John','Rose','Josh','Mary','Steve']
for student in students:
  if student != 'Josh':
    print(f"Hi {student}")
  else:
    break
print("Meeting over")

Hi John
Hi Rose
Meeting over

## continue

bypasses the current iteration

In [ ]:
students = ['John','Rose','Josh','Mary','Steve']
for student in students:
  print(f"Hi {student}", end = " ")
  if student != 'Josh':
    continue
  print(".")
print("Meeting over")

In [40]:
students = ['John','Rose','Josh','Mary','Steve']
for student in students:
  if student != 'Josh':
    print(f"Hi {student}")
  else:
    continue
print("Meeting over")

Hi John
Hi Rose
Hi Mary
Hi Steve
Meeting over

# Functions

```
A function is a group of statements that together perform a task.
Declare once.
Call as many times as you want
```

**Types of Functions**
- built in
- user defined

## Built in function

In [2]:
# list of builtin functions
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [79]:
any([0,0, 0, 80])

True

In [81]:
all([5,1,4,6,0])

False

In [ ]:
chr(65), ord('A')

# A
# BB
# CCC
# DDDD

n = 4
for i in range(n):
  for j in range(i+1):
    print(chr(65+i), end = "")
  print()

## User defined Functions
```
Syntax:

def name_of_function(argument):
  ......
  ......
  ......
  return something

### Types of user defined functions

1. Functions with no input argument and no return
2. Functions with input argument and no return
3. Functions with input argument and return
4. Functions with variable length arguments (*args)
5. Functions with keyworded variable length arguments (**kwargs)

#### **1. Functions with no input argument and no return**

In [86]:
def greet():
    print("hello.....")

for i in range(10):
    greet()

hello.....
hello.....
hello.....
hello.....
hello.....
hello.....
hello.....
hello.....
hello.....
hello.....

#### **2. Functions with input argument and no return**

In [87]:
def greet(name):
    print(f"Hello {name}.....")

greet("Nazira")

Hello Nazira.....

#### **3. Functions input argument and return**

In [89]:
def greet(name):
    return f"Hello {name}....."

msg = greet("Nazira")

In [91]:
def greet(name):
    print(f"Hello {name}.....")

msg = greet("Nazira")
print(msg)

Hello Nazira.....
None

In [95]:
a = {1,2,3}
b = {2,3}
c = a.intersection_update(b)
print(c)

None

In [93]:
a

{2, 3}

#### **4. Functions with variable length argument**

In [96]:
def add(a,b):
    return a+b

add(10,20)

30

In [97]:
add(10,20,30)

TypeError: add() takes 2 positional arguments but 3 were given

In [103]:
def add_vla(*args):
    total = 0
    for val in args:
        total += val
    return total

In [104]:
add_vla(10,20)

30

In [105]:
add_vla(10,20,30)

60

In [106]:
add_vla(10)

10

In [107]:
add_vla()

0

In [108]:
def vla(*a,*b):
    pass

vla(10,20,30)

SyntaxError: * argument may appear only once (1107636790.py, line 1)

In [111]:
def vla(a,*b):
    print(a)
    print(b)

vla()

TypeError: vla() missing 1 required positional argument: 'a'

In [113]:
def vla(*a,b):
    print(a)
    print(b)

vla(10,20,b = 30)

(10, 20)
30

#### **5. Functions with keyworded variable length argument**

In [114]:
def detail_survey(name, age, *args):
    print(name)
    print(age)
    print(args)

In [115]:
detail_survey('Nazira', 40)

Nazira
40
()

In [116]:
detail_survey('Sara', 42,700,100)

Sara
42
(700, 100)

In [119]:
def detail_survey(name, age, **kwargs):
    print(name)
    print(age)
    print(kwargs)

In [120]:
detail_survey('Nazira', 40)

Nazira
40
{}

In [122]:
detail_survey('Sara', 42,limit = 700,salary = 100)

Sara
42
{'limit': 700, 'salary': 100}

In [124]:
def func(*args,**kwargs):
    pass

In [125]:
def func(**kwargs,*args):
    pass

SyntaxError: arguments cannot follow var-keyword argument (558615893.py, line 1)

#### Argument matching:
1. Positional matching
2. Keyworded matching

Priority:
1. Keyword match
2. postional match
Note: In python poistional arguments folllowed by keyworded arguments are not allowed, viceversa is true allowed

In [126]:
def func(*,a,b):
    pass

func(10,20)

TypeError: func() takes 0 positional arguments but 2 were given

In [ ]:
func(a = 10,b = 20)

In [127]:
def func(a,b,/):
    pass

func(10,20)

In [128]:
func(a = 10,b = 20)

TypeError: func() got some positional-only arguments passed as keyword arguments: 'a, b'

##### Quick Questions

In [129]:
# guess the ouput
def func(a,b,/,*,c,d):
    print(f'a : {a}')
    print(f'b : {b}')
    print(f'c : {c}')
    print(f'd : {d}')
func(10,20,c = 30,d = 40)

a : 10
b : 20
c : 30
d : 40

In [130]:
def func(*,a,b,c,d,/):
    print(f'a : {a}')
    print(f'b : {b}')
    print(f'c : {c}')
    print(f'd : {d}')
func(a = 10,b = 20,30,40)

SyntaxError: / must be ahead of * (1162099909.py, line 1)

# pass

- occupies a space
- does nothing

# Docstring:
The string statement followed by the function name is called the docstring
(shortform for documentation string). It provides a convenient way of associating documentation with Python modules, functions, classes.
It is specified in the source code that is used like a comment, in order to document a specific segment of code.

# Practice programs

In [44]:
# 1.WAF that checks whether a passed string is palindrome or not.

data = input("Enter the string: ")
if data.lower() == data[::-1].lower():
    print("pallindrome")
else:
    print("Not a pallindrome")

Enter the string:  121

pallindrome

In [45]:
# 2.Write a Python function that takes a list and returns a new list with
# unique elements of the first list.

numbers = [1,2,6,4,1,3,5,6,1,4]
list(set(numbers))

[1, 2, 3, 4, 5, 6]

In [47]:
# 3.Write a Python script to merge two Python dictionaries

d1 = {'a': 1,'b':2}
d2 = {'b':3,'c':4}
d1.update(d2)
d1

{'a': 1, 'b': 3, 'c': 4}

In [48]:
d1 = {'a': 1,'b':2}
d2 = {'b':3,'c':4}
d1 | d2

{'a': 1, 'b': 3, 'c': 4}

In [49]:
# 4. Write a Python program to remove a key from a dictionary.
data = {'a': 1, 'b': 3, 'c': 4}
data.pop('b')
data

{'a': 1, 'c': 4}

In [50]:
del data['a']
data

{'c': 4}

In [53]:
# 5. Write a Python program to add two objects if both objects are an integer type.
val1 = '10'
val2 = 1
if type(val1) == type(val2) == int:
    print(val1+val2)
elif type(val1) != int:
    print(f"val1 expected as int! Got a {type(val1)}")
elif type(val2) != int:
    print(f"val2 expected as int! Got a {type(val2)}")

val1 expected as int! Got a <class 'str'>

In [57]:
#6.
# *
# **
# ***
# ****
# *****

n = int(input("How many lines pattern: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*" , end = "")
    print()

How many lines pattern:  10

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
# 1
# 22
# 333
# 4444
# 55555

In [59]:
import math as m
m.ceil(1.3)

2

In [60]:
m.floor(1.3)

1

In [ ]:
   #   *
   #  ***
   # *****
   #  ***
   #   *

In [63]:
# Write a Python program to test whether a passed letter is a vowel or not.
letter = input()
if letter.lower() in "aeiou":
    print("Vowel")
else:
    print("Consonant")

 o

Vowel

In [66]:
# Write a Python program to count occurrences of a substring in a string
string = "Hello how are you. Hope you are fine"
substring = "HELLO"
string.lower().count(substring.lower())

1

In [75]:
# Write a program to get all unique words in a given text with its occurences

text = """Google is great.
    It offers me colab for free.
    using colab is amazing"""

words_dict = dict()
for word in set(text.split()):
    # print(word)
    temp = {word: text.lower().count(word.lower())}
    words_dict.update(temp)
    # print(words_dict)
    # print("_"*100)

words_dict

{'colab': 2,
 'amazing': 1,
 'is': 2,
 'using': 1,
 'offers': 1,
 'free.': 1,
 'for': 1,
 'me': 1,
 'great.': 1,
 'It': 1,
 'Google': 1}

In [77]:
chr(65),ord('A')

('A', 65)

In [ ]:
# Write a Python program to check the validity of password input by users.
# Validation :

# At least 1 letter between [a-z] and 1 letter between [A-Z].
# At least 1 number between [0-9].
# At least 1 character from [$#@].
# Minimum length 6 characters.
# Maximum length 16 characters.

# Lambda Functions/ Anonymous function

One line function:
- n no. of arguments
- one expression

**Syntax:**
```
  lambda arguments: expression
```

In [44]:
# Write a function to find cube of a number

In [ ]:
# WAP to sort the given list by 2nd elements of the tuple
data = [(10,20),(3,5)]

In [ ]:
# l = [('a',10,20),('b',50,60),('e',2,5),('d',56,1)]
# Sort this list based on 3rd element

In [ ]:
# Write a Python program to sort a list of dictionaries based on marks
subject_marks = [{'Subject':'English','Marks':80},
                 {'Subject':'Maths','Marks':60},
                 {'Subject':'Science','Marks':70}]

## filter()

In [45]:
# WAF to get all even numbers between 0 to 20

In [ ]:
# WAP to get all numbers that are divisible by 3 between 0 to 30

In [ ]:
# From the given students_list get all students whose name startswith s
students_list = ['Sam','sarah','Joel']

## map()

![image.png]()

In [ ]:
# WAF that maps [0,1,2,3,4] to a new list: 
# the mapping relation is f(x) = x^2+2x+6

In [ ]:
# WAF to find squares of the numbers till 10

In [ ]:
# WAP to accepts list of numbers from the user separated by commas and get sum of them

## reduce()

In [ ]:
from functools import reduce

help(reduce)

In [ ]:
reduce(lambda x,y:x+y,range(4))

In [ ]:
reduce(lambda x,y:x/y,range(8,1,-2))

In [ ]:
reduce(lambda x, y: x*y, [1, 2, 3])

In [ ]:
reduce(lambda x, y: x*y, [1, 2, 3], 10)  # reduce with initial value

# List Comprehension:
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing iterable.
```
Syntax

[expresssion for item in iterable]

[expression for item in iterable if condition == True]

[expression if cond else exp2 for item in iterable]
```

In [8]:
# WAP using list comprehension which adds Mr. at the start of every name in the students list
student_list = ['Sudarshan', 'sam', 'Joel', 'Sarah']

In [ ]:
# make every name in list as upper case
name_list = ['Jane','Sam','Tom','Danny','Guido','Sara']

In [9]:
# using comprehension get all even numbers from a given list
numbers = [5,9,7,6,1,4,8,3,2,0]

In [12]:
# get list of all odd numbers between 1 to 20

In [10]:
# WAP which multiplies every even element by 10, and odd elements by 5

numbers = [10,21,36,57,45]
# output = [100 21 360 57 45]

In [ ]:
# WAP to get a list of all students whose name starts with 's'
student_list = ['Sudarshan', 'sam', 'Joel', 'Sarah']

In [11]:
# WAP to get status list from scores_list, if score >= 80 then good,else bad
scores = [80,65,72,56,23,98,62]

In [ ]:
# Add 5 for every even index and add 10 for every odd index
numbers = [10,20,30,40,50]
# output = [15,30,35,50,55]

In [ ]:
# Display the sum of digits of all the odd elements in a list.

number_list = [1,10,3,20,5,50]

In [13]:
# nested loops in comprehension
[(i,j) for i in range(3) for j in range(5)]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4)]

In [16]:
# Get all students details whose name starts with s
d = {'ID1': 'sara','ID2' : 'Dan', 'ID3' :'Swaroop','ID4': 'Sai'}
# expected_output : {'ID1': 'sara', 'ID3': 'Swaroop', 'ID4': 'Sai'}

# Scope
**Q) Suppose you refer to the name x in your code, and x exists in several scope. How does Python know which one you mean?**

Python searches for x in the following namespaces in the order shown
1. Local: If you refer to x inside a function, then the interpreter first searches for it in the innermost scope thats local to that function.
2. Enclosing: If x isnt in the local scope but appears in a function that resides inside another function, then the interpreter searches in the enclosing functions scope.
3. Global: If neither of the above searches is fruitful, then the interpreter looks in the global scope next.
4. Built-in: If it cant find x anywhere else, then the interpreter tries the built-in scope.

LEGB rule (Local,enclosing,global,builtins)

![image.png]()

In [ ]:
# Local
def outer():
  x = 10
  def inner():
    x = 50
    print("inner: ",x)
  inner()
  print("outer x: ",x)

outer()

In [18]:
# Enclosing
def outer():
  x = 10
  def inner():
    print("inner: ",x)
  inner()
  print("outer: ",x)

outer()

inner:  10
outer:  10

In [19]:
# Global
x = 50

def outer():
  def inner():
    print(x)
  inner()

outer()

50

In [20]:
# Builtins
def outer(x):
  def inner(x):
    print(max(x))
  inner(x)

outer([50,80,40])

80

In [21]:

def outer(x):
  def inner(x):
    print(my_max(x))
  inner(x)

outer([50,80,40])

NameError: name 'my_max' is not defined

In [25]:
# Accesing a global variable in local scope

x = 10
def outer():
  x = 20
  def inner():
    global x
    print("inner: ",x)
  inner()
  print("outer: ",x)

outer()

inner:  10
outer:  20

In [28]:
# Modifying a global variable in local scope

x = 10
def outer():
  x = 20
  def inner():
    global x
    x += 1000
    print("inner: ",x)
  inner()
  print("outer: ",x)

outer()
x

inner:  1010
outer:  20

1010

In [30]:
# Modifying a global variable in local scope

x = 10
def outer():
  x = 20
  def inner():
    globals()['x'] += 1000   # Note
    print("inner: ",x)
  inner()
  print("outer: ",x)

outer()
x

inner:  20
outer:  20

1010

In [35]:
# Accesing a global variable in local scope

x = 10
def outer():
  x = 20
  def inner():
    nonlocal x
    x += 1000
    print("inner: ",x)
  inner()
  print("outer: ",x)

outer()
x

inner:  1020
outer:  1020

10

In [36]:
x = 666
def f():
  x = 588
  def g():
    nonlocal x
    x += 10

  g()
  print(x)

f()
x

598

666

# Exceptions/Errors

## Reading Exceptions

In [ ]:
print(my_variable)

In [ ]:
def add(*numbers):
  for num in numbers:
    sum += num

  return sum

add(1,10,50)

In [ ]:
def Password_Checker(password):
 val=password
 a=b=c=""
 val_list=list(val)
 if ((len(val) >= 6 & len(val) <= 16) & (("$" in val) | ("#" in val) | ("@" in val))):
    for i in val_list:
        if ord(i) in int_ascii:
            a="X"
        elif ord(i) in A_Z_ascii:
            b="X"
        elif ord(i) in a_z_ascii:
            c="X"

    if (a == b == c):
        return "Successfull"
    else:
        return "Failure"

 else:
        return "password does not match requirements!"


password=input("Please enter new password :")
print(Password_Checker(password))

In [ ]:
import sys

def linecount(f):
    """Returns number of lines a file.
    """
    # read lines and count them
    return len(open(f).readlines())

def wordcount(f):
    """Returns the number of words in a file."""
    # Get the words by doing split() on the contents
    return len(open(f).read().split())

def charcount(f):
    """Returns the number of charaters in a file.
    """
    # The number of characters in a file is same as the length
    # of its contents.
    return len(open(f).read())

def main():
    f = sys.path[-1]
    print(linecount(f), wordcount(f), charcount(f), f)

if __name__ == "__main__":
    main()

In [ ]:
import sys
sys.path.append('/content/abc.txt')
sys.path

## Handling Exception

### Syntax

```
try:
  .....
except:
  .....


try:
  .....
except:
  .....
else:
  .....

try:
  .....
except:
  .....
else:
  .....
finally:
  .....
```

### Why to handle exception

In [ ]:
a = int(input("Enter first number : "))
b = int(input("Enter second number : "))
print(a/b)

In [ ]:
try:
  a = int(input("Enter first number : "))
  b = int(input("Enter second number : "))
  print(a/b)
except:
  print("Something went wrong")

In [ ]:
try:
  a = int(input("Enter first number : "))
  b = int(input("Enter second number : "))
  print(a/b)
except ValueError:
  print("Sensor is not working")
except ZeroDivisionError:
  print("Zero Division error occured")

In [ ]:
a = int(input("Enter first number : "))
b = int(input("Enter second number : "))
print(a/b)

### try-except

In [ ]:
try:
  a = int(input("Enter first number : "))
  b = int(input("Enter second number : "))
  print(a/b)
except:                                  # This will catch all the exceptions
  print("Something wrong happened")

In [ ]:
try:
  a = int(input("Enter first number : "))
  b = int(input("Enter second number : "))
  print(a/b)
except ZeroDivisionError:                        # This will catch ZeroDivisionError only
  print("ZeroDivisionError happened")

### Handling multiple exceptions

In [ ]:
try:
  a = int(input("Enter first number : "))
  b = int(input("Enter second number : "))
  print(a/b)
except ZeroDivisionError:
  print("Enter nonzero b")
except ValueError:
  print("Enter valid numbers")

In [ ]:
try:
  a = int(input("Enter first number : "))
  b = int(input("Enter second number : "))
  print(a/b)
except ZeroDivisionError:
  print("Enter nonzero b")
except ValueError:
  print("Enter valid numbers")

### raising an exception

In [ ]:
raise ZeroDivisionError("Give non-zero divisor")

In [ ]:
for i in range(10):
  try:
    if i == 3:
      i/0
    else:
      i/1
    raise
  except ZeroDivisionError:
    print("Message plant cordinator")
  except:
    continue

In [ ]:
# raise will raise the last generated exception
try:
  a = int(input("Enter first number : "))
  b = int(input("Enter second number : "))
  print(a/b)
except:
  print("Something went wrong")
  raise

In [ ]:
# raise doesnt work in try block
try:
  a = int(input("Enter first number : "))
  b = int(input("Enter second number : "))
  print(a/b)
  raise
except:
  print("Something went wrong")

In [ ]:
# raise doesnt work in try block
try:
  a = int(input("Enter first number : "))
  b = int(input("Enter second number : "))
  print(a/b)
  raise
except:
  raise

### Raising an exception explicitly

In [ ]:
raise RuntimeError

In [ ]:
raise RuntimeError("Some wrong input you provided")

In [ ]:
for i in ['a','b','c']:
  if i == 'c':
    continue
  print(i)
else:
  print("Done")

### try-except-else

In [ ]:
# else would be executed when there is no exception from try

try:
  a = int(input("Enter first number : "))
  b = int(input("Enter second number : "))
  res = a/b
except:
  print("Something wrong happened")
else:
    print(res)

### try-except-else-finally

In [ ]:
# finally is executed irrespective of anything
try:
  a = int(input("Enter first number : "))
  b = int(input("Enter second number : "))
  res = a/b
except:
  print("Enter nonzero b")
else:
    print(res)
finally:
  print("I am in finally")

In [ ]:
try:
    div=5/aa
    print(div)
except (ZeroDivisionError,TypeError) as e:
    print(e)
except Exception as e:
    print(e)

In [ ]:
try:
  n=1
  assert n>0
  raise
except:
  # raise
  print("Exception")

## Types of Exceptions:
1. BuiltIn Exceptions
2. Custom Exceptions

### BuiltIn exceptions:

### Custom Exceptions
- Python has numerous built-in exceptions that force your program to output an error when something in the program goes wrong. However, sometimes you may need to create your own custom exceptions that serve your purpose.
- Creating Custom Exceptions
> In Python, users can define custom exceptions by creating a new class. This exception class has to be derived, either directly or indirectly, from the built-in Exception class. Most of the built-in exceptions are also derived from this class.

In [ ]:
# user-defined exception called CustomError which inherits from the Exception class
class My_CustomError(Exception):
  pass

# can be raised using the raise statement
raise My_CustomError

In [ ]:
# can be raised using the raise statement with an optional error message
raise CustomError("An error occurred")

In [ ]:
# define Python user-defined exceptions
class Error(Exception):
    """Base class for other exceptions"""
    pass

class ValueTooSmallError(Error):
    """Raised when the input value is too small"""
    pass

class ValueTooLargeError(Error):
    """Raised when the input value is too large"""
    pass

# you need to guess this number
number = 10

# user guesses a number until he/she gets it right
while True:
    try:
        i_num = int(input("Enter a number: "))
        if i_num < number:
            raise ValueTooSmallError
        elif i_num > number:
            raise ValueTooLargeError
        break
    except ValueTooSmallError:
        print("This value is too small, try again!")
        print()
    except ValueTooLargeError:
        print("This value is too large, try again!")
        print()
    except:
        continue

print("Congratulations! You guessed it correctly.")

# Assertion

- The assert keyword is used when debugging code.

- The assert keyword lets you test if a condition in your code returns True, if not, the program will raise an AssertionError.

In [ ]:
x = "hello"

#if condition returns True, then nothing happens:
assert x == "hello"
print("Done")

In [ ]:
#if condition returns False, AssertionError is raised:
assert x == "goodbye"

In [ ]:
x = "hello"

#AssertionError with message:
assert x == "goodbye", "x should be 'hello'"

In [ ]:
d = {'a':10,'b':12}
del d['b']
d

In [ ]:
# WAP to merge two dictionaries
l1 = {'s1':10,'s2':60}
l2 = {'s3':15,'s2':40}
l1.update(l2)
l1

# WAP to delete a global variable from the environment
aaa = 23
del globals()['aaa']